.DS_Store
.idea
.vscode
*.vcd
runs
tt_submission
src/user_config.tcl
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
# Ignore any directory named "runs" anywhere in the repository, including its contents
#runs/
corners/
backups/
drc_run_*/
simulations/
simulation/

# Ignore JSON and NPZ files
*.json
*.npz

# And ignore simulation data
*.raw

*_extracted.cir
*.svg
